*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: Strike;
    src: url(/src/Assets/Bebas_Neue\,Montserrat\,Protest_Strike.zip);
}

@font-face {
    font-family: MontLight;
    src: url(/src/Assets/Montserrat-Light.ttf);
}

.upcoming-container {
    text-align: start;
    padding: 20px 20px;
    background-color: #121212;
    color: #fff;
  }

  .upcoming-container > .heading {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .upcoming-container > .heading > h1 {
    font-family: Strike;
  }
  .upcoming-container > .heading > p {
    font-size: 30px;
    transition: all 0.3s ease-in-out;
  }
  .upcoming-container > .heading:hover > p {
    color: #ffb606;
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
  }

  .upcoming-container > .mobile-heading {
    display: none;
  }

  @media screen and (max-width:896px) {
    .upcoming-container {
      text-align: start;
      padding: 0px 10px 0px 10px;
      color: #fff;
      gap: 10px;
    }
  
    .upcoming-container > .heading {
      display: none;
    }
    
    .upcoming-container > .mobile-heading {
      padding: 0 7px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      font-size: 10px;
    }
    .upcoming-container > a > .arrow-icon {
      font-size: 20px;
      transition: all 0.3s ease-in-out;
    }
  }
  
  .upcoming-wrapper {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  
  .upcoming-box {
    position: relative;
    width: 200px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .upcoming-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
  }
  
  .upcoming-box:hover {
    transform: scale(1.05);
  }
  @media screen and (max-width:896px) {
    .upcoming-wrapper {
      max-width: 100%;
      margin: 0 auto;
      padding: 0px 0;
    }
    
    
    .upcoming-box {
      position: relative;
      width: 100%;
    }
    
    .upcoming-box img {
      width: 100%;
      height: auto;
    }
  }
  
  .upcoming-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    opacity: 0;
  }

  .upcoming-box:hover .upcoming-overlay {
    opacity: 1;
  }
  @media screen and (max-width:896px) {
     .upcoming-overlay {
      opacity: 1;
      position: relative;
      background-color: transparent;
     }
  }

  .upcoming-overlay > h2 {
    font-size: 16px;
    font-family: Strike;
  }
  .upcoming-overlay > p {
    font-size: 14px;
    font-family: MontLight;
}

.upcoming-wrapper > p {
    font-size: 14px;
    font-family: MontLight;
}


@media screen and (max-width:896px) {
  .upcoming-overlay > h2 {
    font-size: 15px;
    font-family: Strike;
  }
  .upcoming-overlay > p {
    display: none;
    font-size: 14px;
    font-family: MontLight;
}

.upcoming-wrapper > p {
    font-size: 10px;
    font-family: MontLight;
}
}